<ul class="feedbacks">
    {% for feedback in feedbacks %}
        <li class="post">
         <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=feedback.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ feedback.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(feedback.timestamp).fromNow() }}</div>
                 <div class="post-body">
                {% if feedback.body_html %}
                    {{ feedback.body_html | safe }}
                {% else %}
                    {{ feedback.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == feedback.author %}
                <a href="{{ url_for('.edit', id=feedback.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=feedback.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.feedback', id=feedback.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
